$box-shadow-selected-input: 0 0 0 1px black, 0 0 0 2px rgb(255, 167, 52),
  0 0 2px 5px black;

$imput-background: rgb(245, 245, 220);
$imput-background-active: #dddc4b;
$grid-container-background: #6d785f;
$info-bar-color: #3a6a58;

$country: (
  border-color: white,
  z-index: 2,
  outline: none,
);
